* {
  margin: 0;
  padding: 0;
}
/**修改全局的滚动条*/
/**滚动条的宽度*/
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #9da1a1;
  border-radius: 3px;
}

.el-table__body-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  background-color: #9da1a1;
  border-radius: 3px;
}

a,
img {
  text-decoration: none;
  cursor: pointer;
}

.el-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat center;
}
